:root {
    --bgColorDarkn: #1c153c;
    --iconsnFontLightM: #1c153c;
    --sectionFillDark: #2d264c;
    --whiteTextnIcons: #ffffff;
    --bgColorLight: #fbfaff;
    --buttonBlue: #ccd6ff;
    --green: #42d98a;
    --red: #ff6474;
    --orange: #fda759;
    --violet: #8198F6;
}
body {
    font-family: 'Quicksand';
    height: 100%;
    width: 100%;
}
.pattern {
    width: 100%;
    height: 100%;
    background-image: url(img/Pattern.svg);
    background-color: var(--bgColorDarkn);
    background-repeat: repeat-x;
    position: absolute;
}

.layer {
    background-color: var(--bgColorDarkn);
    top: 12%;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0px -6px 5px rgba(0, 0, 0, 0.70);
    border-radius: 150px 150px 0px 0px;
    position: absolute;
}

.login-logo {
    width: 55%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    background-image: unset;
}
.signout-logo{
    position: absolute;
    right: 2vh;
}

.login-p {
    color: var(--whiteTextnIcons);
    font-family: 'Quicksand';
    font-size: 45px;
    background-image: unset;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 6%;
}

.login-form input {
    background-image: unset;
}

.login-form button {
    background-image: unset;
    height: auto;
    width: auto;
    padding: 30px 110px 30px 110px;
    font-family: 'Quicksand';
    font-size: 55px;
    color: var(--whiteTextnIcons);
    background-color: var(--violet);
    border-radius: 30px;
    font-weight: 600;
    margin-top: 12%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.login-form {
    background-image: unset;
    position: relative;
}

.login-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 15%;
    background-image: unset;
    position: relative;
}

.login-username {
    background-color: var(--sectionFillDark);
    border-radius: 30px;
    height: 120px;
    width: 550px;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 5%;
    border-left: 10px solid #fda759;
}

.login-password {
    background-color: var(--sectionFillDark);
    border-radius: 30px;
    height: 120px;
    width: 550px;
    margin-top: 8%;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 5%;
    border-left: 10px solid #fda759;
}

input {
    color: var(--whiteTextnIcons);
    font-size: 45px;
}

::placeholder {
    color: var(--whiteTextnIcons);
    font-family: 'Quicksand';
    font-size: 45px;
}

.patterLogin {
    position: absolute;
    top: -10%;
    width: 100%;
    height: 30vh;
}

.buttom-box {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.bird {
    height: auto;
    width: 10%;
    position: absolute;
    bottom: 2vh;
    margin-bottom: 10%;
}

.buttom-box p {
    bottom: 0;
    color: var(--whiteTextnIcons);
    font-family: 'Quicksand';
    font-size: 35px;
    font-weight: 100;
}

.screenError {
    width: 700px;
    margin-right: 20%;
    margin-left: 30%;
    margin-top: 15%;
    margin-bottom: 10%;
    z-index: 100;
}
/*STARt of other pages*/
.patternShort{
    left: 0px;
    top: -50px;
    width: 100%;
    height: 40%;
    background-image: url(img/Pattern.svg);
    background-color: var(--bgColorDarkn);
    background-repeat: repeat-x;
    position: absolute;
}
.layerLonger{
    background-color: var(--bgColorDarkn);
    top: 8%;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0px -6px 5px rgba(0, 0, 0, 0.70);
    border-radius: 60px 60px 0px 0px;
    position: absolute;
    height: 90%;
}
h1{
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    color: var(--whiteTextnIcons);
    padding: 2%;
    margin: 10px;
}
h2{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    padding-left: 10%;
    padding-right: 10%;
    color: var(--bgColorLight);


}
.icon{
width: 30px;
height: 32px;
}
.iconLeft{
    width: 30px;
height: 32px;
position: absolute;
left:7%;
top: 24px;
}
.arrowWhite{
  width: 21px;
}


.header{
    text-align: center;
}
.carousel > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.carousel{
    position: relative;
    width: 100vw;
height: 14vh;
}

.slide{
position: absolute;
inset: 0;
opacity: 0;
right: 3rem;
}

.slide[data-active] {
    opacity: 1;
}

.carosuelbtn{
    z-index: 99;
    position: absolute;
    border: none;
    font-size: 4rem;
    color: var(--whiteTextnIcons);
    background: none;
}

.carosuelbtn.prev{
left: 1rem;
}

.carosuelbtn.next{
    right: 1rem;
    }

.monthContainer{
   display: flex;
   justify-content:center ;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   background-color:var(--buttonBlue);
background: rgba(204, 214, 255, 0.15);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
max-width: 330px;
min-width: 250px;

}
.weekContainer{
    height: 60px;
    margin-top: 14px;
    justify-content:center ;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background: rgba(204, 214, 255, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    width: 80%; 
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}
.weekContainerGrid{
    margin-top: 4px;
    display: grid;
    grid-template-columns: 54px 54px 54px 54px 54px;
    grid-template-rows: 30px 30px ;
}
.weekGridItem{
    color: var(--whiteTextnIcons);
    text-align: center;
    padding: 10px;
    margin: 0 ;
    font-size: 20px;

}
.oneLessonBox{
    justify-content:center ;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background: rgba(204, 214, 255, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
    color: var(--whiteTextnIcons);
    font-size: 20px;
}
.room{
    font-size: 15px;
    color: var(--violet);
    position: absolute;
    right: 15%;
    margin-top: -45px;
}

#time,#time2, #time3, #time4, #time5, #time6{
margin-top: 2.5px;
padding-bottom: 2.5px;
margin-left: 6%;
}
 #lecture1, #lecture2, #lecture3, #lecture4, #lecture5, #lecture6{
margin-bottom: 2.5px;
padding-top: 2.5px;
margin-left: 6%;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Rectangle 94 */
    background: #1C153C;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px 50px 0px 0px;
    height: 84px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*homework*/
#date{
    font-weight: 500;
    font-size: 25px;
    color: var(--whiteTextnIcons);
    background: #8198F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 59px;
    width: 267px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notification, .notification2{
    position: relative;
    justify-content:center ;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background: rgba(204, 214, 255, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 70%;
    color: var(--whiteTextnIcons);
    font-size: 20px;
}
#date2{
    display: none;
}
#homeworkHeading, #homeworkHeading2{
    padding-top: 6px;
    margin-left: 12px;
}
#homeworkText, #homeworkText2{
   padding-left: 12px;
   margin-top: -12px;
   padding-bottom: 6px;
}
.minus{
    margin: 0;
    position: absolute;
    left: 86%;
    bottom: 80%;
}
/*  hiding Desktop elements for  phone version*/


/*@media screen and (max-width: 768px) {
    .screenError {
        display: none;
    }
}


/* hiding mobile elements for Making desktop ver */


/*@media screen and (min-width: 768px) {
    .pattern {
        display: none;
    }
}

/*Profile Page*/
.profileImgWrapper{
    position: relative;
    height: 15vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.profileImg{
   display: block;
    width: 12vh;
    height: 12vh;
    background-color: #fbfaff;
    border-radius: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}
.profileDetailWrapper{
    
}
.profileDetail{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.profileCategory{
    color: #8198F6;
    margin-bottom: 5px;
}
.detail{
    color: #ffffff;
    font-size: 15pt;
    margin-top: 0px;
}
.profileUnderline{
    border-top: 2px solid white;
    width: 85%;
}
.modeSwitchWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}
.modeSwitchLight{ 
    height: 61px;
    background-color: white;
    display: flex;
    opacity: 75%;
    border-radius: 15px 0 0 15px; 
}
.modeSwitchDark{ 
    display: flex;
    height: 61px;
    background-color: #2D264C;
    border-radius: 0 15px 15px 0;  
}
.lightTheme{
    color: #1C153C;
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}
.darkTheme{
    color: #ffffff;
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}
.modeIcon{
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;
}
.groupmatcher{
    background-color: #CCD6FF;
    color: #1C153C;
    font-size: 22px;
    width: 75%;
    text-align: center;
    height: 50px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 15px;
}
/* group match page*/
.group{
background: rgba(204, 214, 255, 0.15);
border-left: 5px solid #42D98A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
color: var(--whiteTextnIcons);
width: 60%;
margin-left: auto;
margin-right: auto;
}
.groupHeading{
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 31px;
margin-left: 14px;
}
.groupRole{
font-weight: 400;
font-size: 20px;
line-height: 25px;
margin-left: 12px;
}
.delete-add{
background-color: var(--buttonBlue);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 6px;
width: 50px;
height: 50px;
margin-right: 0%;
display: flex;
  justify-content: center;
  align-items: center;
}
.delete-addFlex{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
   display: flex;
   justify-content:space-between;
}
.centerClass{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.classSelect{        
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-size: 20px 30px;
    width: 267px;
    height: 60px;
    line-height: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 18px;
    background-color: rgba(204, 214, 255, 0.15);

}

.classSelections{
    appearance: none;
    background: inherit;
    border: 0;
    margin-right: 1rem;
    width: 70%;
    font-size: 16px;   
}

.classOption{
    background: rgba(204, 214, 255, 0.15);
}

.arrow{
    transform: scale(50%) rotate(90deg);
}

/*Messages styling*/
.message{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#mess-pic1{
    width: 70px;
    height: 70px;
    background-color: #c0c0c0;
    border-radius: 15px;
}
.mess-head{
    color: white;
    font-size: 1.2rem;
    margin: 0;
    margin-left:20px ;
    margin-top: 0px;
}
.mess-txt{
    color: white;
    margin: 0;
    margin-left:20px ;
    margin-top: 5px;
}
.timer-txt{
    color: #8198F6;
    margin: 0;
}
.count{
    background-color: #42D98A;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    text-align: center;  
    position: relative;
    top: 20px; 
}
.count-txt{
    margin: 0;
    padding: 3px;
    font-size: 1.2rem;
}
.mess-underline{
    position: relative;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-top: 2px solid white;
    width: 85%;
}
.spacer{
    height: 5vh;
}

.notiSection{
    display: flex;
    justify-content: center;
}

.notiDivs{
    display: flex;
    flex-direction: column;
    background-color: var(--buttonBlue);
    width: 70%;
    border-radius: 15px;
    padding: 1rem;
}

.notiText{  
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.notiHeader{
    font-weight: 600;
    margin-bottom: 0;
}