:root {
  --bgColorDarkn: #1c153c;
  --iconsnFontLightM: #1c153c;
  --sectionFillDark: #2d264c;
  --whiteTextnIcons: #ffffff;
  --bgColorLight: #fbfaff;
  --buttonBlue: #ccd6ff;
  --green: #42d98a;
  --red: #ff6474;
  --orange: #fda759;
}
.patterLogin{
  position: absolute;
  top: -10%;
  width: 100%;
  height: 30vh;
}